<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_ub3yC5Tdwm30r2zBWLfGOUMCT5HXnE0</string>
	<key>GCM_SENDER_ID</key>
	<string>539841433729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatterbox</string>
	<key>PROJECT_ID</key>
	<string>chatterbox-e1358</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterbox-e1358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539841433729:ios:e06ccd30b4739aa6ccbd80</string>
</dict>
</plist>